@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
p, .p_section {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  line-height: 1; }

.noticia_titulo {
  color: #101010; }

.noticia_parrafo {
  color: #9d9392; }

* {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #101010; }

body {
  background: #ce2f1c;
  background: linear-gradient(0deg, #ce2f1c 0%, white 100%); }

.btn-danger {
  color: #f1f0ee;
  background-color: #ce2f1c;
  border-color: #ce2f1c; }

.btn-outline-danger {
  color: #ce2f1c;
  border-color: #ce2f1c; }

.body_contacto {
  height: 100%; }
  .body_contacto .body_contacto-format .h3_contacto {
    margin-bottom: 2rem;
    font-size: 3rem; }
  .body_contacto .body_contacto-format .explicacion {
    margin: 2rem 0rem; }
    .body_contacto .body_contacto-format .explicacion li {
      list-style: circle !important; }
  .body_contacto .body_contacto-format .p-subtitulo {
    font-size: 2rem; }
  .body_contacto .body_contacto-format .contacto {
    margin: 1rem 0 5rem; }

.btn-danger {
  color: #f1f0ee;
  background-color: none;
  border-color: #ce2f1c; }

.form-check-input:checked {
  background-color: #c26659;
  border-color: #ce2f1c; }

header h1, header h2 {
  color: #101010;
  font-size: 1.7rem;
  margin: 0; }

@media (max-width: 960px) {
  h1 {
    display: none; } }

.navbar-light .navbar-nav .nav-link {
  color: #9d9392; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #ce2f1c; }

.accordion-button:not(.collapsed) {
  color: #ce2f1c;
  background-color: #ffff; }

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none; }

.accordion-item:first-of-type {
  border-radius: 0.25rem; }

.accordion-item:last-of-type {
  border-radius: 0.25rem; }

.h3_noticias {
  margin: 3rem 0 1rem 0;
  color: #101010; }

.div_noticias {
  width: 100%; }
  .div_noticias .noticias {
    margin: 2rem; }

.card {
  background-color: rgba(255, 255, 255, 0);
  border: none; }

.galeria {
  margin-top: 5rem; }
  .galeria img {
    height: 100%; }

.p_section {
  color: #9d9392; }

h3 {
  font-size: 1.5rem;
  font-weight: 400; }

.border-top {
  border-top: 1px solid #f1f0ee !important; }

.text-muted {
  color: #f1f0ee !important; }

footer p {
  font-size: small; }

footer div {
  padding: 0.3rem 0; }

footer ul {
  padding: 0.3rem 0; }
