.body_contacto {
    height: 100%;

    .body_contacto-format {
        .h3_contacto {
            margin-bottom: 3rem;
        }

        .explicacion {
            margin: 2rem;
        }

        .contacto {
            margin: 5rem 0;
        }
    }
}

.btn-danger {
    color: $gris-claro;
    background-color: none;
    border-color: $rojo;
}

.form-check-input:checked {
    background-color: $rojizo;
    border-color: $rojo;
}