.body_contacto {
    height: 100vh;

    .body_contacto-format {
        height: 100%;

        .h3_contacto {
            margin-bottom: 3rem;
        }

        .explicacion {
            margin: 2rem;
        }

        .contacto {
            margin: 5rem 0;
        }
    }
}



.form-check-input:checked {
    background-color: $rojizo;
    border-color: $rojo;
}