.body_contacto {
    height: 100%;

    .body_contacto-format {
        .h3_contacto {
            margin-bottom: 2rem;
            font-size: 3rem;
        }


        .explicacion {
            margin: 2rem 0rem;
            li {
                list-style: circle!important;
            }
        }
        .p-subtitulo {
            font-size: 2rem;
        }
        .contacto {
            margin: 1rem 0 5rem;
        }
    }
}

.btn-danger {
    color: $gris-claro;
    background-color: none;
    border-color: $rojo;
}

.form-check-input:checked {
    background-color: $rojizo;
    border-color: $rojo;
}