.border-top {
    border-top: 1px solid $gris-claro !important;
}

.text-muted {
    color: $gris-claro!important;
}

footer {
    p {
        font-size: small;
    }
    div {
        padding: 0.3rem 0;
    }
    ul {
        padding: 0.3rem 0;
    }
}