// accordion

.accordion-button:not(.collapsed) {
    color: $rojo;
    background-color: $blanco;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.accordion-item:first-of-type {
    border-radius: 0.25rem;
}

.accordion-item:last-of-type {
    border-radius: 0.25rem;
}

// noticias

.h3_noticias {
    margin: 3rem 0 1rem 0;
    color: $negro;
}

.div_noticias {
    width: 100%;

    .noticias {
        margin: 2rem;
    }
}

.card {
    background-color: rgba(255, 255, 255, 0);
    border: none;

}

// galeria

.galeria {
    margin-top: 5rem;
    img {
        height: 100%;
    };
}

// estilos parrafo

p {
    @extend %estilosParrafo;
}

.p_section {
    @extend %estilosParrafo;
    color: $gris;
}

// H3 mixin

h3 {
    @include fontStyle (1.5rem, 400);
}